.manager {
  &--screen {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &-background {
    .carousel {
      &-inner {
        height: 500px;
      }
      &-item {
        height: 100%;
      }
      &-caption {
        position: absolute;
        width: 100%;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 0;
        font-size: 60px;
      }
    }
  }
  &--intro {
    padding: 100px 0;
  }
  &--title {
    font-size: 24px;
    color: orange;
    font-weight: 600;
  }
  &--desc {
    font-size: 16px;
    font-weight: 500;
  }
  &-listmember {
    width: 100%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(254, 192, 76);
    &_title {
      margin: 50px 0;
      font-size: 32px;
      font-weight: 700;
      color: #000000;
      position: relative;
      text-align: center;
      z-index: 1;
      &::after {
        content: "";
        position: absolute;
        bottom: -20px;
        left: 50%;
        transform: translateX(-50%);
        width: 100px;
        text-align: center;
        border-radius: 3px;
        border-bottom: 5px solid #fff;
        z-index: 100;
      }
    }
  }
  &-card {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 500px;
    width: 350px;
    margin: 20px 40px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    transition: 0.7s ease;
    cursor: pointer;
    &:hover {
      img {
        transform: scale(1.1);
        transition: 0.7s ease;
      }
      p {
        color: rgb(231, 181, 89);
        transition: 0.7s ease;
      }
    }
  }
  &-first {
    width: 500px;
    height: 600px;
    &_img {
      height: 500px;
      padding: 10px;
      img {
        height: 100%;
        width: 100%;
        border-radius: 50%;
        background-size: cover;
        background-position: center;
        object-fit: cover;
      }
    }
  }
  &-person {
    width: 98%;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    &_img {
      height: 300px;
      width: 300px;
      img {
        transition: 0.5s ease;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        padding: 10px 20px;
        background-size: cover;
        background-position: center;
        object-fit: cover;
      }
    }
  }
  &-info {
    padding: 10px 5px;
    &_name {
      p {
        font-weight: 700;
      }
    }
  }
}
@media screen and (max-width: 993px) {
  .manager {
    &--intro {
      margin-top: 0;
      padding: 40px 12px;
    }
    &-background {
      .carousel {
        &-indicators {
          bottom: 0;
        }
        &-caption {
          position: absolute;
          width: 100%;
          padding: 0 20px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 0;
          font-size: 60px;
        }
      }
    }
  }
}
@media screen and (max-width: 501px) {
  .manager {
    &--intro {
      margin-top: -100px;
      padding: 40px 12px;
    }
    &-first {
      width: 300px;
      height: 400px;
      &_img {
        height: 300px;
        padding: 10px;
        transition: 0.5s ease;
        img {
          height: 100%;
          width: 100%;
          border-radius: 50%;
          background-size: cover;
          background-position: center;
          object-fit: cover;
        }
      }
    }
    &-background {
      .carousel {
        &-indicators {
          bottom: 20%;
        }
        &-caption {
          position: absolute;
          width: 100%;
          padding: 0 20px;
          top: 58%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 0;
          font-size: 60px;
          h1 {
            font-size: 24px;
          }
        }
      }
    }
  }
}
