.manager {
  &--screen {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &-background {
    .carousel {
      &-inner {
        height: 500px;
      }
      &-item {
        height: 100%;
      }
      &-caption {
        position: absolute;
        width: 100%;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 60px;
      }
    }
  }
  &--intro {
    &.container {
      padding-top: 0;
    }
  }
  &-person {
    width: 100%;
    .person {
      &-content {
        display: flex;
        justify-content: center;
        flex-direction: column;
      }
    }
  }
}
