.pageload {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-50%, -50%);
  z-index: 9999;
  .open {
    &-top,
    &-bottom {
      position: absolute;
      height: calc(100% - 50vh);
      width: 100%;
      z-index: -1;
    }
    &-top {
      top: 0;
      animation: openUp 1s;
      animation-delay: 2.5s;
    }
    &-bottom {
      bottom: 0;
      animation: openDown 1s;
      animation-delay: 2.5s;
    }
  }
  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    transform: translateY(-50%, -50%);
    background-color: #333333 !important;
    z-index: -1;
  }
}
svg {
  z-index: 1;
  height: 5rem;
}
#logo {
  fill-opacity: 0;
  stroke-width: 3px;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: test 2.5s ease-in-out forwards;
}
.name-company h1 {
  width: 100%;
  color: #f7d03a;
  text-align: center;
  animation: test1 3s ease-in forwards;
  opacity: 0;
  font-size: 1rem;
}

@keyframes test {
  to {
    stroke-dashoffset: 0;
  }
  to {
    fill-opacity: 0.5;
    fill: #f7d03a;
  }
  to {
    fill-opacity: 0.6;
    fill: #f7d03a;
  }
  to {
    fill-opacity: 0.7;
    fill: #f7d03a;
  }
  to {
    fill-opacity: 0.8;
    fill: #f7d03a;
  }
  to {
    fill-opacity: 0.9;
    fill: #f7d03a;
  }
  to {
    fill-opacity: 1;
    fill: #f7d03a;
    stroke-opacity: 0;
  }
}
@keyframes test1 {
  to {
    opacity: 1;
  }
}
@keyframes openUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
    z-index: 10;
    background-color: #f7f7f7;
  }
}
@keyframes openDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
    z-index: 10;
    background-color: #f7f7f7;
  }
}
